#node modules
**/node_modules
**/package-lock.json
**/yarn.lock
**/pnpm-lock.yaml

# log file
**/*.log

# enviroment file for docker-compose.yml
.env*

# distribution
dist/*
!dist/scripts
dist/scripts/*
!dist/scripts/.gitkeep

# ftp account
.vscode/sftp.json

## archive directory and personal memo
.archive
NOTE.md

## css chache
.css
.sass-cache


